body
{
    background-color: #d9d9d9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F7F7F7;
    height: 100%;
}

.bg 
{
    background-image: url(../images/1131274.jpg);
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

h1,h2
{
    text-align: center;
    font-family: Aileron;
}

main
{
    background-image: url('1331274.jpg');
}
footer
{
    text-align: center;
}

.topnav 
{
    overflow: hidden;
    background-color: #1B365C;
    position: relative;
}

.topnav #myLinks 
{
    display: none;
}

.topnav a
{
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.topnav a.icon
{
    float: right;
    width: 30px;
    line-height: normal;
}

.topnav a:hover
{
    background-color: black;
    color: #FFF0C5;
}

.active
{
    background: #1B365C;
    color: black;
}