head 
{
    text-align: center;
}
body 
{
  font-family: Tahoma, sans-serif;
  color: #03045e;
  align-items: center;
  text-align: center;
  background-color: #caf0f8;
}

header
{
  font-family: courier, serif;
  text-align: center;
  align-items: center;
  color: #023e8a;
}

div.contract 
{
    font-family: Tahoma, sans-serif;
    text-align: left;
    margin: 10px;
}
ul 
{
    text-align: left;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-size: medium;
}

footer 
{
    text-align: center;
    height: 142px;
}

hr
{
  border-style: double;
}

.validation
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;
}

.bottomnav 
{
    background-color: #87babf;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 1px;
}
.bottomnav a 
{
    display:inline-block;
    color: #03045e;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 17px;
}

.bottomnav-logo 
{
    color:rgb(37, 67, 201);
    padding: 0px;
    margin: 0px;
    height: 55px;
    width: 55px;
    float: left;
}

.bottomnav a:hover 
{
    background-color: rgb(37, 67, 201);
    color: #FFEEC9;
}

.bottomnav a.active 
{
    background-color: #03045e;
    color: gray;
}

.bottomnav-logo 
{
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.bottomnav .icon 
{
    display: none;
}

.dropbtn
{
    background-color: #03045e;
    color: #FFEEC9;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #87babf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover
{
    background-color: rgb(37, 67, 201);
}

.dropdown:hover .dropdown-content 
{
    display: block;
}

.dropdown:hover .dropbtn
{
    background-color: rgb(37, 67, 201);
}

ol
{
    text-align: left;
}

h2, h3 
{
  text-align: center;
  font-size: 150%;
  font-family: Georgia;
  
}

table, th, td 
{
  border: 1px solid black;
  margin: 1em;
  color: #FFF0B7;
}

header, footer
{
  text-align: center;
  font-family: serif;
}
figure 
{
  text-align: center;
}

th
{
  background-color: #121212;
}

tr
{
  background-color: #590099;
}

.right 
{
  text-align: right;
}

tbody tr:nth-child(odd)
{
  background-color: #121212;
}

*{box-sizing: border-box;}

.input-container
{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon 
{
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}
.input-field 
{
  width: 100%;
  padding:10px;
  outline: none;
}

.input-field:focus
{
  border:2px solid dodgerblue;
}

.btn
{
  background-color: dodgerblue;
  color:white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 10px;
}

.btn:hover 
{
  opacity: 1;
}

.desc
{
  font-size: xx-large;
  text-align: left;
  margin: 1em;
}

.button-container 
{
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inner 
{
  display: inline-block;
  padding: 10px;
}

.calculator
{
  max-width: 400px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 43px 17px;
}

.displaycalc
{
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}

.cal_btn
{
  display: grid;
  border-bottom: 1px solid #87babf;
  border-left: 1px solid #87babf;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
}

.cal_btn > div
{
  border-top: 1px solid #87babf;
  border-right: 1px solid #87babf;
}

.cal_btn:hover
{
  transition: 0.5s ease-in-out;
}

.buttons
{
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  font-size: 2em;
  background-color: rgb(37, 67, 201);;
  color: white;
}
button:hover
{
  background-color: black;
  transition: 0.5s ease-in-out;
}

.equal
{
  background-color: rgb(85, 85, 255);
  color: white;
  grid-area: 2/4/6/5;
}

.operator 
{
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  font-size: 2em;
  background-color: dodgerblue;
  color: white;
}

.decimal 
{
  font-size: 2em;
  background-color: dodgerblue;
  color: white;
}

.all-clear
{
  background-color: blue;
  font-size: 2em;
  color: white;
}