<footer>
  <div class="bottomnav">
    <img class="bottomnav-logo" src="images/monkey.gif" alt="Nav-logo">
    <a href="index.html">Home</a>
    <a href="introduction.html">Introduction</a>
    <a href="../index.html">Charlotte.edu</a>
    <a href="https://github.com/amccar15">Github</a>
    <a href="githubio.html">Github.io</a>
    <a href="contract.html">Contract</a>
    <a href="https://www.freecodecamp.org/austinmccarter121">FreeCodeCamp</a>
    <a href="https://jsfiddle.net/user/fiddles/all/">JsFiddle</a>
</div class="bottomnav">
    <p><a href="mccarterdeliandco.tech/">Designed by McCarter Deli & Co &copy;2022.</a></p>
    <p>
        <a href="https://jigsaw.w3.org/css-validator/check/referer">
          <img src="images/button_validation_css.png" alt="css"/></a>

        <a href="https://validator.w3.org/check?uri=referer">
          <img src="images/button_validation_html5.png" alt="html5"/> </a>
      </p>
</footer>