<header>
    <h1> Austin McCarter | ITIS 3135 | Aquamarine Monkey </h1>
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Week 02</button>
            <div class="dropdown-content">
                <a href="table.html">HTML Tables</a>
                <a href="forms.html">HTML Form</a>
                <a href="mccarterdeliandco.tech/index.html">Firm Page</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Week 03</button>
            <div class="dropdown-content">
                <a href="website_evaluations.html">CRAP Evaluation</a>
                <a href="badthingsinside/THIS1!isINDEx.htm">CRAPPY Website</a>
                <a href="brand-aquamarine-monkey.html">Whimsical Brand</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Week 04</button>
            <div class="dropdown-content">
                <a href="firstjs.html">First JavaScript</a>
                <a href="polygon.html">Polygon</a>
                <a href="calculator_try.html">Calculator Try</a>
                <a href="calculator.html">Calculator!</a>
            </div>
        </div>
    </nav>
</header>