<header>
    <h1> Austin McCarter | ITIS 3135 | Aquamarine Monkey </h1>
    <div id="navbar" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"&times;>x</a>
        <div class="overlay-content">
            <a href="table.html">HTML Tables</a>
            <a href="forms.html">HTML Form</a>
            <a href="mccarterdeliandco.tech/index.html">Firm Page</a> 
            <a href="website_evaluations.html">CRAP Evaluation</a>
            <a href="badthingsinside/THIS1!isINDEx.htm">CRAPPY Website</a>
            <a href="brand-aquamarine-monkey.html">Whimsical Brand</a>
            <a href="firstjs.html">First JavaScript</a>
            <a href="polygon.html">Polygon</a>
            <a href="calculator_try.html">Calculator Try</a>
            <a href="calculator.html">Calculator!</a>
            <a href="arrays.html">Arrays</a>
            <a href="Accessibility/McCarter_Activity_Accessibility.html">Accessibility</a>
            <a href="slideshow.html">Slideshow</a>
            <a href="activity10.html">Image Swap</a>
            <a href="McCarter-Activity11.html">Accordion</a>
            <a href="McCarter-Activity12.html">Carousel</a>
            <a href="Activity13/McCarter-Activity13.html">Ajax, XML to JSON</a>
            <a href="project_design.html">Project Design</a>
            <a href="Project/index.html">Project Draft</a>
            <a href="peerwebevaluation.html">Peer Review</a>
            <a href="hobby/index.html">Hobby Site</a>
        </div>
    </div>
    <button onclick="openNav()" style="border-radius: 50px; height: 50px; width: 130px;">
        Check out my work!
    </button> 
    <script>
        function openNav()
        {
            document.getElementById("navbar").style.width="100%";
        }
        function closeNav()
        {       
            document.getElementById("navbar").style.width="0%";
        }
    </script>
</header>