<header>
    <h1> Austin McCarter | ITIS 3135 </h1>
    <nav>
        <div class="topnav">
            <img class="topnav-logo" src="images/monkey.gif" alt="Nav-logo">
            <a href="index.html">Home</a>
            <a href="introduction.html">Introduction</a>
            <a href="../index.html">Charlotte.edu</a>
            <a href="https://github.com/amccar15">Github</a>
            <a href="githubio.html">Github.io</a>
            <a href="contract.html">Contract</a>
            <a href="https://www.freecodecamp.org/austinmccarter121">FreeCodeCamp</a>
            <a href="https://jsfiddle.net/user/fiddles/all/">JsFiddle</a>
        </div>
    </nav>
</header>