<nav>
    <div class="topnav">
        <img class="topnav-logo" src="images/monkey.gif" alt="Nav-logo">
        <a href="index.html" class="active">Home</a>
        <a href="introduction.html">Introduction</a>
        <a href="https://webpages.charlotte.edu/amccar15/">Charlotte.edu</a>
        <a href="https://github.com/amccar15">Github</a>
        <a href="https://amccar15.github.io/itis3135/githubio.html">Github.io</a>
        <a href="contract.html">Contract</a>
        <a href="https://www.freecodecamp.org/austinmccarter121">FreeCodeCamp</a>
    </div>
</nav>