body {
  margin: 0px;
  padding: 0px;
  background-color: #121212;
}
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.headerTitle {
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  text-decoration: underline;
}

nav {
  display: flex;
  height: 25%;
  width: 100%;
  align-items: stretch;
  text-align: left;
  background: #7B8D8E;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: start;
  list-style-type: none;
}
li {
  padding: 6px 25px;
}
.navlink {
  --fill-color: #121212;
  position: relative;
  display: block;
  padding: 4px, 0, 0, 0;
  font: 700 3rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
  color: transparent;
  background-clip: text;
  transition: 0.5s linear;
}
.navlink:hover {
  background-size: 100%;
}

.custom-select {
  position: relative;
  display: inline;
}

select {
  width: 5em;
  height: 1.75em;
  font: 50 2rem Raleway, sans-serif;
  background-color: #ebebeb;
}

input{
  position: relative;
  width: 20em;
  height: 2em;
  padding: 1em;
  margin: 0 0 0 1em;
  top: -.5em;
}

.searchButton{
  top: -1em;
  margin-left: 5px;
  color: #121212;
  text-decoration: none;
}

.createPostPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
}

.cpContainer {
  width: auto;
  height: auto;
  padding: 20px;
  background-color: #7B8D8E;
  border-radius: 12px;
  color: #121212;
  display: flex;
  flex-direction: column;
}

.cpContainer h1 {
  text-align: center;
}

.cpContainer label {
  font-size: 25px;
}
.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.inputGp input,
.inputGp  {
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.inputGp input {
  height: 40px;
}
.inputGp .textspot {
  border: solid;
  height: 150px;
}

.cpContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
input,
.textarea {
  margin-top: 5px;
}

.loginPage {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPage p {
  font-size: 30px;
  color: white;
}

/* GOOGLE BUTTOn */
.login-with-google-btn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.homePage {
  width: 100%;
  min-height: calc(100vh - 80px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.homeSections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.HomeSection1{
  background-color: #7B8D8E;
  margin: 2em;
  padding: 10px;
  border-radius: 15px;
  width: fit-content;
}

.sectionGroup {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

img.topicImg {
  width: 400px;
  height: 200px;
  display: block;
}

span.openBtn{
  display:inline-block;
  height: 2.5em;
  padding:0.7em 1.4em;
  margin:0.3em 0.3em 1em 1em;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#121212;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}
span.openBtn:active{
  top:0.1em;
}
  @media all and (max-width:30em){
  span.openBtn{
  display:block;
  margin:0.4em auto;
  }
}

span .viewPost {
  color:white;
  text-decoration: none;
}

.homePage .post {
  width: 95%;
  height: 200px;
  background-color: whitesmoke;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.post .postHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.postHeader .title {
  flex: 50%;
}
.postHeader .deletePost {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.deletePost button {
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}

.post .postTextContainer {
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  resize: none;
  text-overflow: ellipsis;
  height: 50px;
}

.thePost {
  justify-content: center;
}

.thePost .postHeader {
  color: white;
  text-align: center;
}

img.headerImg{
  width: 90%;
  height: 400px;
  margin-left: 10px;
}

img[src=""]{
  display: none;
}

.postHeadTitle{
  margin-left: 5.3%;
  position:absolute;
  text-align:center;
  top: 40%;
  width: 90%;
  font-size: 50px;
  color: #FFFFFF;
  text-decoration: underline;
  background-color: rgba(10, 10, 10, 0.8);;
}

.noPhotoTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-size: 50px;
}

.thePost .postTextContainer {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: auto;
  width: auto;
  margin: 1em 5em 1em 5em;
  overflow: hidden;
  overflow-y: auto;
}

.thePost h3 {
  color: white;
  margin: 1em 5em 1em 5em;
}

#myimg {
  width: 400px;
  height: 400px;
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color:lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}

.footerStyling {
  background-color: #7B8D8E;
  margin-bottom: -100em;
  width: 100%;
  padding: 2em;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 30em;
}
.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
}
.middleSection{
  display: flex;
  flex-direction: column;
}
.endSection{
  margin-right: 5%; 
}