body 
{
  font-family: Tahoma, sans-serif;
  color: #03045e;
  background-color: #caf0f8;
}

header
{
  font-family: courier, serif;
  text-align: center;
  color: #023e8a;
}

.topnav {
    background-color: #87babf;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #03045e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #03045e;
    color: gray;
}

.topnav .icon {
    display: none;
}