head {
    text-align: center;
}
body 
{
  font-family: Tahoma, sans-serif;
  color: #03045e;
  align-items: center;
  text-align: center;
  background-color: #caf0f8;
}

header
{
  font-family: courier, serif;
  text-align: center;
  align-items: center;
  color: #023e8a;
}

ul {
    text-align: left;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

footer {
    text-align: center;

}
.topnav {
    background-color: #87babf;
    overflow: hidden;

}
.topnav a {
    float: left;
    display: block;
    color: #03045e;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-logo {
    color:rgb(37, 67, 201);
    padding:0px;
    margin: 0px;
    height: 55px;
    width: 50px;
    float: left;
}

.topnav a:hover {
    background-color: rgb(37, 67, 201);
    color: yellow;
}

.topnav a.active {
    background-color: #03045e;
    color: gray;
}

.topnav .icon {
    display: none;
}